// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.temp{
    float: left;
    margin: 5px;
    img{
        height: 75px;
        width: 75px;
    }
}
